.indicator {
  list-style-type: none;
  font-size: 16px;
  padding-top: 10px;
}

.header {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Roboto Serif", serif;
}

.mainTemperature {
  font-size: 50px;
}

.celsius,
.fahrenheit,
.separator {
  color: rgb(32, 33, 36);
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  height: 24px;
  line-height: 24px;
  margin-top: 10px;
  vertical-align: top;
}
